<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
<head>
    <div th:replace="~{ fragments/fragments :: head}"></div>
    <title>La mia pizzeria</title>
</head>

<body>
    <header class="container">
        <nav th:replace="~{fragments/navbar :: navbar('Pizze')}"></nav>
    </header>

    <main class="container">
        <section class="row justify-content-center">
            <div class="col-12">
                <h1 class="card-title mb-3">
                    Crea una nuova pizza:
                </h1>
                <form id="pizza-form" th:object="${pizza}" th:action="@{/pizze/create}" method="post">
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome:</label>
                        <input class="form-control" type="text" name="nome" id="nome" th:field="*{nome}" th:errorClass="is-invalid">
                        <div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
                            <ul>
                                <li th:each="error : ${#fields.errors('nome')}" th:text="${error}" />
                            </ul>
                        </div>
                    </div>                    
                    <div class="mb-3">
                        <label for="descrizione" class="form-label">Descrizione:</label>
                        <input class="form-control" type="text" name="descrizione" id="descrizione" th:field="*{descrizione}" th:errorClass="is-invalid">
                        <div th:if="${#fields.hasErrors('descrizione')}" class="invalid-feedback">
                            <ul>
                                <li th:each="error : ${#fields.errors('descrizione')}" th:text="${error}" />
                            </ul>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="prezzo" class="form-label">Prezzo:</label>
                        <input class="form-control" type="number" name="prezzo" id="prezzo" th:field="*{prezzo}" th:errorClass="is-invalid">
                        <div th:if="${#fields.hasErrors('prezzo')}" class="invalid-feedback">
                            <ul>
                                <li th:each="error : ${#fields.errors('prezzo')}" th:text="${error}" />
                            </ul>
                        </div>
                    </div>
                    <input type="submit" value="Crea nuova pizza" class="btn btn-primary">
                </form>
            </div>
        </section>
    </main>

    <div th:replace="~{fragments/fragments :: scripts}"></div>
</body>
</html>